main/alphavantage_api_key.h
.gdbinit.ci
sdkconfig.old
**/.history/
.DS_Store
.venv/
managed_components/
**/__pycache__/
*.bak
*.kicad_prl
*.kicad_*.lck
pcb/manufacturing/gerbers/
pcb/manufacturing/jlcpcb/gerbers/
